/*.app-wrapper {*/
/*  display: grid;*/
/*  min-width: 720px;*/
/*  max-width: 720px;*/
/*  margin: 0 auto;*/
/*  grid-template-areas: "h" "c";*/
/*  grid-template-rows: none;*/
/*  grid-template-columns: none;*/
/*  grid-gap: 7px;*/
/*}*/

.app-wrapper {
  margin: 0 auto;
  position: relative;
  width: 375px;
  height: 812px;

  background: #FFFFFF
}